
@media(max-width:1277px){
    /* index_article_scroll */
    .article_cards_container{
        overflow-x: scroll;
        padding-inline: 0 32px;
    }

    .guitar_card{
        flex: 1 0 289px;
    }
}



@media (max-width: 1025px){
/* header */
.burger{
    display: block;
}

.header_left_side{
    /* display: none; */
}

.header_nav {
    position: fixed;
    top: 96px;
    left: -100%;
    background-color: #05BCCA;
    width: 50%;
    padding: 25px 0 25px 20px;
    transition: .5s linear;
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 200px;
    row-gap: 8px;

}

.show {
    left: 0;
}

.header_nav ul{
    flex-direction: column;

}

.header_left_side nav ul li a {
    color: #C46A2B;
}



/* article guitar_shop_container */

.hide1024px{
    display: none;
}


}


@media (max-width:861px){
    /* index_figure */
        .index_figure{
            padding-top: 48px;
            padding-bottom: 48px;   
        }
    
        .box_container{
            width: 680px;
        }
    
        .box{
            width: 330px;
        }
    
        /* index_footer */
        .footer_container{
            column-gap: 149px;
        }
    
        
    
    }



@media (max-width: 815px){
    /* contact */
.contact_container{
    padding-inline: 0;
    justify-content: center;
}
}

