@media (max-width: 481px){

    /* index_header */

    header{
        padding: 28px 8px;
    }

    
    .logo_svg {
        width: 40px;
        height: 40px;
    }

    .header_right_side{
        column-gap: 16px;
    }

    .fa-magnifying-glass{
        font-size: 16px;
    }

    .right_side_second_button{
        width: 32px;
        height: 32px;
    }

    .fa-user{
        font-size: 16px;
    }

    .right_side_third_button{
        width: 32px;
        height: 32px;
    }
    
    .fa-cart-shopping {
        font-size: 16px;
    }


    .home_h3{
        font-size: 24px;
    }


    /* index_article */
    .popular_guitar_article{
        padding-block: 48px;
        padding-inline: 8px 0px;
    }

    .article_title{
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 40px;
    }

    .guitar_card{
        padding-inline: 0 8px;
    }


    /* guitar_shop_container */
    .guitar_shop_container{
    padding-block: 32px;
    }

    .filter_container{
    padding-inline: 16px;
    }

    .hide375px{
        display: none;
    }

    .sort_btn_active{
        display: none;
    }
    .sort_btn_noactive{
    display: block;
    display: flex;
    padding: 4px 6px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    background: #A1C3C9;
    border: none;
    }

    .left_btn,
    .right_btn{
        display: none;
    }

    .left_btn_noactive,
    .right_btn_noactive{
        display: block;
        display: flex;
        padding: 8px 14px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: none;
    }

    .left_btn_noactive{
        background: #C46A2B;
    }

    .right_btn_noactive{
        background: #05BCCA;
    }

    .sort_container{
        padding-inline: 45px;
    }

    .guitar_minicards{
        width: 343px;
    }

}





@media (max-width :376px) {
    /* index_figure */
.box_container{

    width:320px;
    height: 280px;
}

.box{
    width: 150px;
    height: 130px;
}


/* index_mail_section */

.mail_section{
    height: 168px;
}

.section_title {
    font-size: 18px;
    line-height: 26px;
}

.mail_input_button{
    padding: 15px 7px 14px;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
}



}




