.container {
    width: min(1440px, 100%);
    margin: auto;
}

/* header */

header{
background-color: #012426;
display: flex;
justify-content: space-between;
align-items: center;
padding: 16px 94px;
position: fixed;
width: inherit;
max-width: inherit;
top: 0;
left: 50%;
transform: translateX(-50%);
 z-index: 1; 

}

.fa-bars,
.fa-xmark {
    display: none;
    font-size: 32px;
    color: #FFFFFF;
    
}

.header_left_side{
    display: flex;
    align-items: center;
}

.header_left_side nav ul{
    display: flex;
    column-gap: 72px;
}

.header_left_side nav ul li a {
    font-family: 'Inter', sans-serif;
    color: #A1C3C9;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
}

.header_right_side{
    display: flex;
    column-gap: 32px;
    align-items: center;
}

.right_side_first_button{
    background-color: transparent;
    border: none;
    padding: 8px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}
 .right_side_first_button:hover{
    box-shadow: 0 0 10px rgba(11, 174, 207, 0.5);
} 
.right_side_second_button:hover{
    box-shadow: 3px 3px 20px rgba(11, 189, 213, 5);    
}

.right_side_third_button:hover{
    box-shadow: 3px 3px 20px rgba(11, 189, 213, 5);    
}

.fa-magnifying-glass{
    font-size: 24px;
    color: #05BCCA;
}
 


.right_side_second_button {
    background-color:  #05BCCA; ;
    border-radius: 8px;
    border: none;
     width: 40px;
    height: 40px;  
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.fa-user{
    font-size: 24px;
    color: #2C4246;
}



.right_side_third_button{
    width: 40px;
    height: 40px; 
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #05BCCA;
    background-color: transparent;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    
}


.fa-cart-shopping{
    font-size: 24px;
    color: #05BCCA;
}


.header_left_side nav ul li a:hover{
   color:#0fff50;
   background-color: #2196f3;
   box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3,
   0 0 80px #2196f3;
   border-radius: 10px;
   transition: all 0.3s linear;

}

/* home_section */


.home_section{
    margin-top: 96px;
    background-image: url(../image/Home_cover.png);
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 72px;
}

.section_div{
    display: flex;
    column-gap: 32px;
    align-items: center;
    justify-content: center;
}

.home_h3{
color: #FFF;
font-family: 'Inter', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 36px; 
}

.home_btn{
display: flex;
width: 36px;
/* height: 24px; */
padding: 0px 6px;
justify-content: center;
align-items: center;
border-radius: 4px;
background: #C46A2B;
border: none;
cursor: pointer;
transition:  color 0.4s linear;
}


.fa-arrow-right{
    font-size:24px ;
    color: #D9D9D9;
}


/* index_figure */

.index_figure{
    padding-bottom: 96px;
    padding-top: 96px;
    display: flex;
    justify-content: center; 
    background-color: #012426;
    align-items: center;
}


.box_container{
    width: 828px;
    height: 500px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 20px;
}

.box{
    width: 404px;
    height: 240px;
    background-color: #05BCCA;
    color: #F5F5F5;
}

.box_text{
    padding: 16px;
    color: #F5F5F5;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px; /* 154.167% */
}

.box_1{
    background-image: url(../image/img1.png);
    /* height: 100%; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}


.box_2{
    background-image: url(../image/img2.png);
    /* height: 100%; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.box1,.box4{
    animation-name: my-animation;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-timing-function: linear;

}

@keyframes my-animation {
    from {
      width: 404px;
    }
    to {
      width: 240px;
    }
  }

/* index_article */

.popular_guitar_article {
    /* display: flex; */
    padding: 96px 94px;
    /* gap:64px; */
    background-color:#1A1A1A;
    /* justify-content: center;
    flex-direction: column; */
}

.article_title{
    margin-bottom: 64px;
    text-align: center;
    color: #05BCCA;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; 
    position: relative;
}

.article_title:after{
    content: "";
    width: 187.267px;
    height: 2px;
    background-color: #05BCCA;
    bottom: -8px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}


.article_cards_container{
    display: flex;
    column-gap: 20px;
    /* flex-shrink: 0; */
}

.guitar_card{
    padding: 8px 8px 16px 8px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    border: 1px solid #05BCCA;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.guitar_card:hover{
transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.guitar_card img{
    width: 100%;
    height: 290px;
    object-fit: cover;
}

.guitar_card_text{
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px; /* 168.75% */
    }

.review{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stars{
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.fa-star{
    color: #C46A2B;
    font-size: 16px;
}

.stars p {
color: #A1C3C9;
font-family: 'Inter', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 15px; /* 125% */
}


.price_tag{
    display: flex;
    column-gap: 4px;
}

.price_tag p{
color: #05BCCA;
font-family: 'Inter', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 168.75% */
}


/* mail_section */
.mail_section{
    background-image: url(../image/mail_cover.png);
    height: 320px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    row-gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mail_title{
    color: #05BCCA;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 19px;
}

.mail_form{
    position: relative;
    display: flex;
    align-items: center;
}

.mail_input{
    width: 480px;
    padding: 15px 0 14px 8px;
    color: #A1C3C9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border-radius: 8px;
    border: 1px solid #F5F5F5;
    background: rgba(44, 66, 70, 0.80);
    

}

.mail_input_button{
    padding: 15px 14px 14px 14px;
    background-color:#05BCCA;
    border-radius: 0px 8px 8px 0px;
    color: #FFF;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 19px;
    border: none;
    position: absolute;
    right: 0;
}

.index_footer{
    background-color: #2C4246;
    padding-block: 48px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 64px;
}

.footer_container{
    display: flex;
    justify-content: center;
    column-gap: 223px;
}

.footer_title{
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    position: relative;
}

.footer_title:after{
content: "";
width: 80px;
height: 2px;
background-color: #D9D9D9;
position: absolute;
bottom: -4px;
left: 0;
}
.main_footer_list{
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.footer_list{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.footer_list li a {
color: #D9D9D9;
font-family: 'Inter', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.footer_social_list{
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}

.fa-brands{
    color: #D9D9D9;
    font-size: 32px;
}

.footer_bottom{
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.fa-brands{
    transition: box-shadow 0.3s ease-in-out;
}

.fa-brands:hover{ 
    box-shadow: 0px 0px 30px rgba(9, 1, 27, 20);
}

.footer_bottom p{
color: #D9D9D9;
font-family: 'Inter', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}


/* Catalog */

/* catalog_btn_section */

.catalog_btn_section{
    margin-top: 96px;
    border-top: 2px solid #05BCCA;
    background-color:#1A1A1A;
    padding-block: 36px;
    display: flex;
    justify-content: center;
}
.btn_list{
display: flex;
justify-content: center;
align-items: center;
}

.btn_list button{
    border: 1px solid #05BCCA;
    background: transparent;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    padding: 18px 24px;
    
}

.btn_list:hover{
    background-color: #2196f3;
}

.active{
background-color: #A1C3C9;
}

.btn_active{
 color: #2C4246; 
}



/* article guitar_shop_container */

.guitar_shop_container{
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    padding-block: 96px;
    background-color: #012426;
}

.filter_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 94px;
}

.filter{
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.shop_p{
font-family: 'Inter', sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0em;
color: #D9D9D9;

}

.sort_container{
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.sort_btn_active{
    background-color: #A1C3C9;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    gap: 33px;
}

.sort_btn_active:hover{
    background-color: #0fff50;
}

.sort_btn_noactive{
    display: none;
}

.guitar_cards_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 40px 20px;
    padding-inline: 16px;
    
}

.guitar_minicards{
    background-color: #2C4246;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.guitar_minicards:hover{
    transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.guitar_card_text{
    padding-inline: 8px;
}

.catalog_review{
    padding: 0 8px 16px 8px;
}


.page_btn_container{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 48px;
}

.left_btn_noactive,
.right_btn_noactive {
    display: none;
}

.left_btn,
.right_btn{
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    background: #05BCCA;
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}

.left_btn{
    background-color: #C46A2B;
}

.right_btn{
    background-color: #05BCCA;
}

.page_btn_p{
color: #FFF;
font-family: 'Inter', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

/* contact_container */

.contact_container{
    margin-top: 96px;
    background-image: url(../image/contact_cover.png);
    height: 720px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 96px 94px 115px 0;
    display: flex;
    justify-content: flex-end;

}


.contact_content{
    width: 616px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.contact_title{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 40px;
    background: #2C4246;
}

.contact_info{
    display: flex;
    flex-direction: column; 
    row-gap: 24px;
}

.contact_info a{
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.contact_info i {
    font-size: 24px;
    color: #D9D9D9;
}

.contact_info p {
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.form_container{
    display: flex;
    gap: 40px;
}

.contact_form{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.contact_form_inputs{
    display: flex;
    column-gap: 8px;
}

.contact_form_inputs input{
    background-color: #2C4246;
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    border: none;
    padding: 6px 8px;
    width: 50%;
}

textarea{
    height: 103px;
    resize: none;
    margin-bottom: 8px;
    background-color: #2C4246;
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    border: none;
    padding: 6px 8px;
}

.text_area_btn{
background-color: #C46A2B;
color: #D9D9D9;
font-family: 'Inter', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
padding-block: 8px;
border: none
}

.map_container{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: flex-end;
}

iframe{
    width: 100%;
}

.iframe_social li a i{
    color: #05BCCA;
}