

    @media (max-width:745px){
        /* guitar_shop_container */
        .guitar_shop_container{
            padding-block: 45px;
        }

        .filter_container{
            padding-inline: 32px;
        }
    
        .hide744px{
            display: none;
        }

        /* contact */
        .contact_container{
            padding: 48px 64px;
        }
    }
    
    
    @media (max-width: 725px) {
        /* header */
    
        header{
            padding-inline: 32px;
        }
    
        /* index_footer */
        .index_container{
            row-gap: 48px;
        }
    
        .footer_container{
            flex-direction: column;
            row-gap: 40px;
        }
    
        .main_footer_list{
            align-items: center;
        }
    
        .footer_list{
            align-items:center;
        }
        
    
    }
    
    
    
    
    @media (max-width:701px)  {
    /* index_figure */
        .box_container{
            width: 560px;
            height: 400px;
        }
    
        .box {
            width: 270px;
            height: 190px;
            
        }
    } 
    
    
    @media (max-width :631px) {
    /* index_figure */
        .index_figure{
            padding-top: 32px;
            padding-bottom: 32px;   
        }
    
         .box_container{
            width: 360px;
            height: 340px;
        } 
    
         .box{
            width: 170px;
            height: 150px;
    
        } 
    
        .box_text{
            font-size: 16px;
            line-height: 24px;
            padding: 8px; 
          
        }
    
    
        /* mail_section */
        .mail_section{
            row-gap: 24px;
        }
    
    
        .mail_title{
            font-size: 24px;
            line-height: 32px;
        }

        /* contact */
        .contact_container {
            padding: 32px 40px;
    
        }
        .contact_content{
            row-gap: 33px;
        }

        .contact_title{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
        }

        .contact {
            padding: 16px;
            align-items: center;
            justify-content: center;
            column-gap: 24px;
        }

        .contact_info p{
            display: none;
        }

        .map_minilogo_img{
        width: 24px;
        height: 24px;
        }
        
        .contact_info{
        flex-direction: row;
        column-gap: 24px;
        }
    
        .form_container{
            flex-direction: column;
        }

        .contact_form_inputs{
            column-gap: 13px;
        }
        
        .map_container{
        row-gap: 32px;
        align-items: center;
        }
    }
    
    
    @media (max-width :558px){
      .mail_form{
        width: 85%;
      }

      /* catalog_btn_section */
      
      .catalog_btn_section{
        padding-block: 16px;
      }

      .btn_list button{
        font-size: 16px;
        line-height: 24px;
        padding: 8px;
      }

    }
    
    
    